body, html {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  height: 200vh
}

.background {
  background-image: url('images/pattern.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.title {
  width: 100%;
  max-width: 900px;
  display: block;
  margin: 20px auto;
  image-rendering: auto;      
image-rendering: smooth; 
  transition: transform 0.2s ease-out;
}

.ekeko-wrapper {
  position: relative;        
  width: 600px;
  margin:0 auto;
}

.ekeko {
  width: 100%;
  display: block;
