body, html {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  background-color: transparent;
}

body {
  display: block;
}

.background {
  background-image: url('images/pattern.png');
  background-size: cover;
  background-repeat: repeat;
  position: fixed;
  top: -0.5px; /* Nudge it up slightly */
  left: -0.5px; /* Nudge it left slightly */
  width: calc(100vw + 1px); /* Make it a tiny bit wider */
  height: calc(100vh + 1px); /* Make it a tiny bit taller */
  z-index: -1;
}
